1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print (type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre = 'Jose Céspedes'

5) Crear una variable que contenga un número complejo

In [7]:
b = 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(b)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [41]:
print(round(pi,4))

3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
var1='True'
var2= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
c= 2+ 2.3

11) Realizar una operación de suma de números complejos

In [17]:
d= 7j + 2j

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
e=2 + 1j

13) Realizar una operación de multiplicación

In [19]:
f=5*6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
g=27/4
print(g)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
print(int(g))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
print ('Hola ' + 'Mundo')

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [31]:
h=3
h-=1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [34]:
'2' + '2'

'22'